/* Homework Due 5.29.19 */

.clearfix::after {
    clear:both;
    content:"";
    display:block;
}

body {
    background-color: lightgray;
}

.container {
    background-color: white;
    margin: 20px;
}

#title {
    color: teal;
}

.mynavbar {
    float: right;
}

#nametag {
    background-color: aqua;
    color: white;
    margin: 20px;
    padding: 10px;
}

footer {
    background-color: gray;
    margin-top: 20px;
    padding-top: 30px;
    paddint-left: 40px;
}