/* Homework Due 5.29.19 */

.clearfix::after {
    clear:both;
    content:"";
    display:block;
}

html {
    margin-left: 100px;
    margin-right: 100px;
}

body {
    background-color: lightgray;
}

.container {
    background-color: white;
    margin-top: 30px;
}

#title {
    color: teal;
    font-family: "Times New Roman", Times, serif;
}

.mynavbar {
    float: right;
    padding-bottom: 18px;
    padding-top: 18px;
}

#navbarText {
    
}

#nameTag {
    background-color: aqua;
    color: white;
    margin-right: 75%;
    padding: 10px;
    margin-bottom: 10px;
    font-family: "Times New Roman", Times, serif;
}

.row {
    padding: 5px;

}

footer {
    background-color: gray;
    margin-top: 20px;
    padding-top: 40px;
    padding-left: 45%;
    border: 50px;
    border-color: teal;
    font-size: 12px;
}